<% if comment.comment %>
	<h5><strong><%= link_to comment.user.name, user_path(comment.user) %></strong></h5>
	<p class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</p>
	<p><%= comment.comment %></p>
<% end %>
<% if current_user == comment.user %>
<p><%= link_to 'Delete', [comment.post, comment],
							method: :delete,
							data: { confirm: 'Are you sure?' } %></p>
<% end %>
<br/>
