@import "bootstrap-sprockets";
@import "bootstrap";
@import "comments";
@import "likes";
@import "posts";
@import "users";

#content {
  float: none;
  text-align: justify;
}

.avatar {
  padding: 10px;
}

.logo {
  font-size: 30px;
}
