// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.image {
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-bottom: 1px solid #E9E9E9;
}

.editdestroy {
  padding-left: 745px;
}

div.no_posts {
  font-size: 40px;
  opacity: 0.3;
  text-align: center;
}
