// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.image {
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-bottom: 1px solid #E9E9E9;
}

.comment-button {
  float: left;
}

.edit-button {
  padding: 5px 0px 0px 745px;
}

.no-posts {
  font-size: 40px;
  opacity: 0.3;
  text-align: center;
  vertical-align: middle;
}

.text-muted {
  padding-bottom: 9px;
}

td.caption {
  font-size: 16px;
}
