// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.pic-profile {
  padding: 10px 10px 20px 0px;
}

td.name-profile {
  font-size: 30px;
  padding: 159px 0px 0px 10px;
}

td.edit-profile {
  padding: 164px 0px 0px 435px;
}

tr.board-bottom {
  border-bottom: 2px solid #E9E9E9;
}

div.no-posts {
  font-size: 30px;
  opacity: 0.3;
  text-align: center;
  margin-top: 25px;
}
